// COLORS BACKGROUND

$BgRed: hsl(7, 99%, 70%);
$BgYellow: hsl(51, 100%, 49%);
$BgCyan: hsl(167, 40%, 24%);
$BgBlue: hsl(198, 62%, 26%);
$BgFooter: hsl(168, 34%, 41%);

// COLORS TEXT

$Text-blue-dark: hsl(212, 27%, 19%);
$Text-grayish-blue: hsl(213, 9%, 39%);
$Text-blue: hsl(232, 10%, 55%);
$Grayish-blue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

// FONT FAMILY 
$Serif:'Fraunces', serif;
$Sans_Serif:'Barlow', sans-serif;